.charbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #000;
  color: tomato;
  border-radius: 0.5rem;
}
.container :hover {
  box-shadow: rgba(138, 47, 47, 0.25) 0px 54px 55px,
    rgba(253, 9, 9, 0.12) 0px -12px 30px, rgba(255, 6, 6, 0.12) 0px 4px 6px,
    rgba(230, 15, 15, 0.17) 0px 12px 13px, rgba(255, 0, 0, 0.09) 0px -3px 5px;
}
.boxNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 1rem;
}
